<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

<h1>Lorem ipsum</h1>


<script>
var folders = JSON.parse({{{json folderData}}});
var files = JSON.parse({{{json fileData}}});
</script>
<script src="/js/home.js"></script>
